<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/music_shop</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123456</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Other hibernate settings -->
        <property name="show_sql">false</property>

        <!-- Mapping from configuration file (as an alternative to annotations) -->
        <!--<mapping resource="mapping.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>